.main-section {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px;
    position: relative;
  

 
}

.main-section::before
{
    position: absolute;
    content: "";
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    left: 0;
    top:0;
    bottom: 0;
} 

.logo {
   width: 150px;
   height: 150px;
   position: absolute;
   top: 25px;
   z-index: 10;
   left:50%;
   transform: translateX(-50%) ;
   -webkit-transform: translateX(-50%) ;
   -moz-transform: translateX(-50%) ;
   -ms-transform: translateX(-50%) ;
   -o-transform: translateX(-50%) ;
}


/*Midlle section*/

.middle-section
{
    position: absolute;
    width:90%;

    margin:0 auto;
    top:22%;
    left:50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

/*Elipse*/
.middle-section::before
{
    content: "";
    position: absolute;
    width: 85vw;
    height: 85vh;
    background: rgba(255, 255, 255,0.10);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    left:50%;
    top:55%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    filter: blur(60px);
    -webkit-filter: blur(60px);
}


.presentation-container
{
    position: relative;
    width:96%;
    margin: 0 auto;
    height: 50vh;
    margin-top: 2%;
    border-bottom: 10px solid  transparent;
    transform:translateY(-12px) ;
    -webkit-transform:translateY(-12px) ;
    -moz-transform:translateY(-12px) ;
    -ms-transform:translateY(-12px) ;
    -o-transform:translateY(-12px) ;
}

.presentation-container .video{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-top: 10px solid var(--violet-text-color);
    border-left:10px solid var(--violet-text-color);
    border-right:10px solid var(--violet-text-color);
    width: 100%;
    left: 0;
    border-radius:22px 22px 0 0;
    -webkit-border-radius:22px 22px 0 0;
    -moz-border-radius:22px 22px 0 0;
    -ms-border-radius:22px 22px 0 0;
    -o-border-radius:22px 22px 0 0;
    object-fit: cover;
}



.presentation-white-back
{
    position: absolute;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border: 2px solid var(--white-color);
    width: 98%;
    height: 35vh;
    background: rgba(217, 217, 217, 0.56);
    box-shadow: 0px 4px 50px 15px var(--white-color);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.progress-section{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
 
}

.progress-container{

    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom:10px solid var(--violet-text-color);
    border-left:10px solid var(--violet-text-color);
    border-right:10px solid var(--violet-text-color);

    transform: translateY(90%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(90%);
    -ms-transform: translateY(90%);
    -o-transform: translateY(90%);
    height: 35px;
    background-color: #525152a5;
    border-radius:0 0 22px 22px;
    -webkit-border-radius:0 0 22px 22px;
    -moz-border-radius:0 0 22px 22px;
    -ms-border-radius:0 0 22px 22px;
    -o-border-radius:0 0 22px 22px;
    box-shadow: 0px 4px 50px 7px var(--violet-text-color);
}

.progress-percent{
    color: var(--white-color);
    font-weight: bold;
    font-size: 3rem;;
    font-family: "Absolute Empire";

}

#volume-icon
{
    width: 45px;
    height: 45px;
    margin-right: 2rem;
    color: var(--white-color);
}
#volume-icon svg{
     width: 100%;
    height:100%;

}

.bottom-section {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 25px 35px;
}

.volume-controls-container{
    position: relative;
    width: 30%;
}

.volume-controls-container .row-btn{
 
display: flex;
margin-bottom: 1.5rem;
align-items: center;
}

.volume-selected
{
    background: var( --violet-text-color-3) !important;
    color: var(--black-color) !important;
}


.volume-controls-container button
{
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   background: rgba(255, 255, 255, 0.6);
    height: 3rem;
   width: 85px;
   text-align: center;
   font-weight: bold;
   font-size: 2rem;
   margin-right: 1.3rem;
   letter-spacing: 1.5px;
   color: var(--violet-text-color-2);
   
  
}

#volume-level-container
{
    position: absolute;
    right: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
     height: 3rem;
    width: fit-content;
    font-weight: bold;
    font-size: 2.2rem;
    margin-right: 1.3rem;
    color: var(--black-color);
    display: flex;
    align-items: center;
    padding-left:18px;
    padding-right:10px ;
}


#volume-level-container #volume-level
{
color: var(--violet-text-color);
margin-left: 1rem;
}

.volume-sounBar-container{
    width:100%;
    height: 18px;
    margin-bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    overflow: hidden;
    position: relative;
}

#sound_cursor{
    background-color: var(--white-color);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    width: 18px;
    height: 18px;
}


@media screen and (min-width:990px) {

    .logo{
        width: 200px;
        height: 200px;
        left:5%;
        transform: translateX(0) ;
        -webkit-transform: translateX(0) ;
        -moz-transform: translateX(0) ;
        -ms-transform: translateX(0) ;
        -o-transform: translateX(0) ;
}
 
.middle-section
{
   top:12%;
   width: 65%;


}

.presentation-container{
    height: 60vh;
}

.presentation-white-back{
        box-shadow: 0px 4px 80px 15px var(--white-color);

}




    
}